
SET(MICO_ROOT_DIR PATH-TO-MICO-DIR)
#SET(MICO_INCLUDE_DIR PATH-TO-INCLUDE-DIR)
#SET(MICO_LIBRARIES MICO-LIBRARIES-TO-LINK-TO
SET(OPENBUS_CORE_IDL_ROOT_DIR ../core_idl)
SET(SCS_IDL_ROOT_DIR ../../scs/scs-idl)
SET(LOGGER_ROOT ../logger)
SET(SCS_ROOT_DIR ../../scs/scs-trunk-git)
SET(SCS_LIBRARIES PATH-TO-SCS-LIBS-TO-LINK-TO)
